html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  scroll-behavior: smooth;
}

html .wrapper,
body .wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .wrapper #menu-overlay,
body .wrapper #menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(105, 105, 105, 0.9);
  display: none;
}

html .wrapper #menu-overlay.enabled,
body .wrapper #menu-overlay.enabled {
  display: initial;
}

html .wrapper .sidebar,
body .wrapper .sidebar {
  height: 100%;
  width: 60px;
  text-align: center;
  position: relative;
}

html .wrapper .sidebar .fixed-sidebar,
body .wrapper .sidebar .fixed-sidebar {
  position: fixed;
  height: 100%;
  width: 60px;
  background-color: #fff;
  text-align: center;
  z-index: 10;
  -webkit-transition: 2s;
  transition: 2s;
}

html .wrapper .sidebar .fixed-sidebar .footer,
body .wrapper .sidebar .fixed-sidebar .footer {
  position: absolute;
  bottom: -13px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 210px;
  left: 22px;
  font-size: 1em;
}

html .wrapper .sidebar .fixed-sidebar .menu,
body .wrapper .sidebar .fixed-sidebar .menu {
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  cursor: pointer;
}

html .wrapper .sidebar .fixed-sidebar .menu .bar1,
html .wrapper .sidebar .fixed-sidebar .menu .bar2,
html .wrapper .sidebar .fixed-sidebar .menu .bar3,
body .wrapper .sidebar .fixed-sidebar .menu .bar1,
body .wrapper .sidebar .fixed-sidebar .menu .bar2,
body .wrapper .sidebar .fixed-sidebar .menu .bar3 {
  width: 30px;
  height: 3px;
  background-color: #424242;
  margin: 6px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html .wrapper .sidebar .fixed-sidebar .change .bar1,
body .wrapper .sidebar .fixed-sidebar .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 4px);
          transform: rotate(-45deg) translate(-6px, 4px);
}

html .wrapper .sidebar .fixed-sidebar .change .bar2,
body .wrapper .sidebar .fixed-sidebar .change .bar2 {
  opacity: 0;
}

html .wrapper .sidebar .fixed-sidebar .change .bar3,
body .wrapper .sidebar .fixed-sidebar .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

html .wrapper .sidebar .fixed-sidebar .sidebar-content,
body .wrapper .sidebar .fixed-sidebar .sidebar-content {
  display: none;
}

@media (min-width: 620px) {
  html .wrapper .sidebar .fixed-sidebar .sidebar-content,
  body .wrapper .sidebar .fixed-sidebar .sidebar-content {
    bottom: 13px;
    right: 22px;
  }
}

html .wrapper .sidebar .fixed-sidebar .sidebar-content ul,
body .wrapper .sidebar .fixed-sidebar .sidebar-content ul {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 3;
}

html .wrapper .sidebar .fixed-sidebar .sidebar-content ul li,
body .wrapper .sidebar .fixed-sidebar .sidebar-content ul li {
  font-size: 22px;
}

html .wrapper .sidebar .fixed-sidebar .sidebar-content ul li a,
body .wrapper .sidebar .fixed-sidebar .sidebar-content ul li a {
  text-decoration: none;
  color: #424242;
}

html .wrapper .sidebar .fixed-sidebar .enabled,
body .wrapper .sidebar .fixed-sidebar .enabled {
  display: block;
}

html .wrapper .sidebar .fixed-sidebar .social-icons,
body .wrapper .sidebar .fixed-sidebar .social-icons {
  margin-top: 40px;
  position: absolute;
  bottom: 50px;
  display: none;
}

@media (min-width: 620px) {
  html .wrapper .sidebar .fixed-sidebar .social-icons,
  body .wrapper .sidebar .fixed-sidebar .social-icons {
    bottom: 13px;
    right: 22px;
  }
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul,
body .wrapper .sidebar .fixed-sidebar .social-icons ul {
  list-style: none;
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul li,
body .wrapper .sidebar .fixed-sidebar .social-icons ul li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul li a,
body .wrapper .sidebar .fixed-sidebar .social-icons ul li a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul li a i,
body .wrapper .sidebar .fixed-sidebar .social-icons ul li a i {
  line-height: 32px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-facebook,
body .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-facebook {
  color: #4267b2;
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-twitter,
body .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-twitter {
  color: #1da1f2;
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-pinterest-p,
body .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-pinterest-p {
  color: #e60023;
}

html .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-linkedin,
body .wrapper .sidebar .fixed-sidebar .social-icons ul li a .fa-linkedin {
  color: #0e76a8;
}

html .wrapper .sidebar .fixed-sidebar .display,
body .wrapper .sidebar .fixed-sidebar .display {
  display: block;
  padding-right: 15px;
}

html .wrapper .col1,
body .wrapper .col1 {
  position: relative;
  height: 100%;
  width: 100%;
}

html .wrapper .col1 img,
body .wrapper .col1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

@media (min-width: 992px) {
  html .wrapper .col1,
  body .wrapper .col1 {
    width: 80%;
  }
}

html .wrapper .col1 .logo a,
body .wrapper .col1 .logo a {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
}

html .wrapper .col1 .caption,
body .wrapper .col1 .caption {
  position: absolute;
  bottom: 200px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (min-width: 992px) {
  html .wrapper .col1 .caption,
  body .wrapper .col1 .caption {
    left: 300px;
  }
}

html .wrapper .col1 .caption .title,
html .wrapper .col1 .caption .desc,
body .wrapper .col1 .caption .title,
body .wrapper .col1 .caption .desc {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 545px) {
  html .wrapper .col1 .caption .title,
  html .wrapper .col1 .caption .desc,
  body .wrapper .col1 .caption .title,
  body .wrapper .col1 .caption .desc {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  html .wrapper .col1 .caption .title,
  html .wrapper .col1 .caption .desc,
  body .wrapper .col1 .caption .title,
  body .wrapper .col1 .caption .desc {
    font-size: 38px;
  }
}

html .wrapper .col1 .caption .title,
body .wrapper .col1 .caption .title {
  color: #f11818;
}

html .wrapper .col1 .caption .desc,
body .wrapper .col1 .caption .desc {
  color: #fff;
  width: 379px;
  margin-top: 22px;
}

@media (min-width: 992px) {
  html .wrapper .col1 .caption .desc,
  body .wrapper .col1 .caption .desc {
    margin-left: 103px;
  }
}

@media (max-width: 992px) {
  html .wrapper .col1 .caption .desc,
  body .wrapper .col1 .caption .desc {
    width: 12ch;
  }
}

html .wrapper .col2,
body .wrapper .col2 {
  display: none;
}

@media (min-width: 992px) {
  html .wrapper .col2,
  body .wrapper .col2 {
    height: 100%;
    width: 20%;
    position: relative;
    overflow: hidden;
    display: block;
  }
}

html .wrapper .col2 .title,
body .wrapper .col2 .title {
  font-size: 36px;
  color: #fff;
  position: absolute;
}

html .wrapper .col2 .c-top,
body .wrapper .col2 .c-top {
  height: 30%;
  width: 100%;
  position: relative;
}

html .wrapper .col2 img,
body .wrapper .col2 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

html .wrapper .col2 .desc,
body .wrapper .col2 .desc {
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 90%;
}

html .wrapper .col2 .c-bottom,
body .wrapper .col2 .c-bottom {
  height: 70%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

html .wrapper .col2 .c-bottom img,
body .wrapper .col2 .c-bottom img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

html .wrapper .col2 .c-bottom .overlay,
body .wrapper .col2 .c-bottom .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(0, 128, 128, 0.8);
}

html .wrapper .col2 .c-bottom .title,
body .wrapper .col2 .c-bottom .title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 22px;
  top: 22px;
}

html .wrapper .col2 .c-bottom .btn,
body .wrapper .col2 .c-bottom .btn {
  font-size: 24px;
  color: #fff;
  position: absolute;
  bottom: 22px;
  left: 22px;
}

html .section-1,
body .section-1 {
  position: relative;
}

@media (min-width: 992px) {
  html .section-1,
  body .section-1 {
    height: 100%;
  }
}

html .section-1 .section-wrapper,
body .section-1 .section-wrapper {
  margin-left: 60px;
  position: relative;
}

html .section-1 .section-wrapper h1,
body .section-1 .section-wrapper h1 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  html .section-1 .section-wrapper h1,
  body .section-1 .section-wrapper h1 {
    position: absolute;
    top: 100px;
    left: 85px;
  }
}

@media (max-width: 992px) {
  html .section-1 .section-wrapper h1,
  body .section-1 .section-wrapper h1 {
    text-align: center;
    margin-top: 1em;
  }
}

html .section-1 .section-wrapper .ul-wrapper,
body .section-1 .section-wrapper .ul-wrapper {
  height: 100%;
  width: 100%;
  display: block;
}

@media (min-width: 992px) {
  html .section-1 .section-wrapper .ul-wrapper ul,
  body .section-1 .section-wrapper .ul-wrapper ul {
    position: absolute;
    top: 200px;
    left: 30px;
  }
}

html .section-1 .section-wrapper .ul-wrapper ul li,
body .section-1 .section-wrapper .ul-wrapper ul li {
  margin: 0 20px 30px 20px;
}

html .section-1 .section-wrapper .ul-wrapper ul li h4,
html .section-1 .section-wrapper .ul-wrapper ul li p,
body .section-1 .section-wrapper .ul-wrapper ul li h4,
body .section-1 .section-wrapper .ul-wrapper ul li p {
  line-height: 1.2;
  font-weight: 300;
}

html .section-1 .section-wrapper .ul-wrapper ul li h4,
body .section-1 .section-wrapper .ul-wrapper ul li h4 {
  font-size: 30px;
}

html .section-1 .section-wrapper .ul-wrapper ul li p,
body .section-1 .section-wrapper .ul-wrapper ul li p {
  font-size: 18px;
  max-width: 50ch;
  margin: 0 auto;
}

html .section-1 .section-wrapper .ul-wrapper .col1-section1,
body .section-1 .section-wrapper .ul-wrapper .col1-section1 {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

@media (min-width: 935px) {
  html .section-1 .section-wrapper .ul-wrapper .col1-section1,
  body .section-1 .section-wrapper .ul-wrapper .col1-section1 {
    width: 50%;
    float: left;
  }
}

html .section-1 .section-wrapper .ul-wrapper .col2-section1,
body .section-1 .section-wrapper .ul-wrapper .col2-section1 {
  display: none;
}

@media (min-width: 935px) {
  html .section-1 .section-wrapper .ul-wrapper .col2-section1,
  body .section-1 .section-wrapper .ul-wrapper .col2-section1 {
    width: 50%;
    float: right;
    display: block;
  }
}

html .section-1 .section-wrapper .ul-wrapper .col2-section1 img,
body .section-1 .section-wrapper .ul-wrapper .col2-section1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
}

html .section-2,
body .section-2 {
  background-color: #f3f3f3;
  position: relative;
  clear: both;
}

html .section-2 .section-2_container,
body .section-2 .section-2_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 60px;
}

html .section-2 .section-2_container .section-2_row,
body .section-2 .section-2_container .section-2_row {
  margin-right: 30px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  html .section-2 .section-2_container .section-2_row,
  body .section-2 .section-2_container .section-2_row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html .section-2 .section-2_container .section-2_row .col1,
html .section-2 .section-2_container .section-2_row .col2,
html .section-2 .section-2_container .section-2_row .col3,
body .section-2 .section-2_container .section-2_row .col1,
body .section-2 .section-2_container .section-2_row .col2,
body .section-2 .section-2_container .section-2_row .col3 {
  margin: 0 auto;
}

@media (min-width: 992px) {
  html .section-2 .section-2_container .section-2_row .col1,
  html .section-2 .section-2_container .section-2_row .col2,
  html .section-2 .section-2_container .section-2_row .col3,
  body .section-2 .section-2_container .section-2_row .col1,
  body .section-2 .section-2_container .section-2_row .col2,
  body .section-2 .section-2_container .section-2_row .col3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 32%;
            flex: 0 32%;
  }
}

@media (max-width: 960px) {
  html .section-2 .section-2_container .section-2_row .col1,
  html .section-2 .section-2_container .section-2_row .col2,
  html .section-2 .section-2_container .section-2_row .col3,
  body .section-2 .section-2_container .section-2_row .col1,
  body .section-2 .section-2_container .section-2_row .col2,
  body .section-2 .section-2_container .section-2_row .col3 {
    width: 50%;
  }
}

@media (max-width: 756px) {
  html .section-2 .section-2_container .section-2_row .col1,
  html .section-2 .section-2_container .section-2_row .col2,
  html .section-2 .section-2_container .section-2_row .col3,
  body .section-2 .section-2_container .section-2_row .col1,
  body .section-2 .section-2_container .section-2_row .col2,
  body .section-2 .section-2_container .section-2_row .col3 {
    max-width: 350px;
  }
}

@media (max-width: 575px) {
  html .section-2 .section-2_container .section-2_row .col1,
  html .section-2 .section-2_container .section-2_row .col2,
  html .section-2 .section-2_container .section-2_row .col3,
  body .section-2 .section-2_container .section-2_row .col1,
  body .section-2 .section-2_container .section-2_row .col2,
  body .section-2 .section-2_container .section-2_row .col3 {
    width: 100%;
  }
}

html .section-2 .section-2_container .section-2_row .col1 .content,
html .section-2 .section-2_container .section-2_row .col2 .content,
html .section-2 .section-2_container .section-2_row .col3 .content,
body .section-2 .section-2_container .section-2_row .col1 .content,
body .section-2 .section-2_container .section-2_row .col2 .content,
body .section-2 .section-2_container .section-2_row .col3 .content {
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #fff;
  margin: 30px 0;
  padding-bottom: 30px;
}

html .section-2 .section-2_container .section-2_row .col1 .content .head_bg,
html .section-2 .section-2_container .section-2_row .col2 .content .head_bg,
html .section-2 .section-2_container .section-2_row .col3 .content .head_bg,
body .section-2 .section-2_container .section-2_row .col1 .content .head_bg,
body .section-2 .section-2_container .section-2_row .col2 .content .head_bg,
body .section-2 .section-2_container .section-2_row .col3 .content .head_bg {
  border-style: solid;
  border-width: 90px 0px 23px 250px;
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

html .section-2 .section-2_container .section-2_row .col1 .content .head_bg:hover,
html .section-2 .section-2_container .section-2_row .col2 .content .head_bg:hover,
html .section-2 .section-2_container .section-2_row .col3 .content .head_bg:hover,
body .section-2 .section-2_container .section-2_row .col1 .content .head_bg:hover,
body .section-2 .section-2_container .section-2_row .col2 .content .head_bg:hover,
body .section-2 .section-2_container .section-2_row .col3 .content .head_bg:hover {
  border-color: #2ecc71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ecc71;
  color: #fff;
}

html .section-2 .section-2_container .section-2_row .col1 .content .head_bg span,
html .section-2 .section-2_container .section-2_row .col2 .content .head_bg span,
html .section-2 .section-2_container .section-2_row .col3 .content .head_bg span,
body .section-2 .section-2_container .section-2_row .col1 .content .head_bg span,
body .section-2 .section-2_container .section-2_row .col2 .content .head_bg span,
body .section-2 .section-2_container .section-2_row .col3 .content .head_bg span {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: 360px) {
  html .section-2 .section-2_container .section-2_row .col1 .content .head_bg span,
  html .section-2 .section-2_container .section-2_row .col2 .content .head_bg span,
  html .section-2 .section-2_container .section-2_row .col3 .content .head_bg span,
  body .section-2 .section-2_container .section-2_row .col1 .content .head_bg span,
  body .section-2 .section-2_container .section-2_row .col2 .content .head_bg span,
  body .section-2 .section-2_container .section-2_row .col3 .content .head_bg span {
    font-size: 36px;
  }
}

html .section-2 .section-2_container .section-2_row .col1 .content .head,
html .section-2 .section-2_container .section-2_row .col2 .content .head,
html .section-2 .section-2_container .section-2_row .col3 .content .head,
body .section-2 .section-2_container .section-2_row .col1 .content .head,
body .section-2 .section-2_container .section-2_row .col2 .content .head,
body .section-2 .section-2_container .section-2_row .col3 .content .head {
  position: relative;
  margin-top: 40px;
}

html .section-2 .section-2_container .section-2_row .col1 .content .head .sign,
html .section-2 .section-2_container .section-2_row .col2 .content .head .sign,
html .section-2 .section-2_container .section-2_row .col3 .content .head .sign,
body .section-2 .section-2_container .section-2_row .col1 .content .head .sign,
body .section-2 .section-2_container .section-2_row .col2 .content .head .sign,
body .section-2 .section-2_container .section-2_row .col3 .content .head .sign {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

html .section-2 .section-2_container .section-2_row .col1 .content .head .currency,
html .section-2 .section-2_container .section-2_row .col2 .content .head .currency,
html .section-2 .section-2_container .section-2_row .col3 .content .head .currency,
body .section-2 .section-2_container .section-2_row .col1 .content .head .currency,
body .section-2 .section-2_container .section-2_row .col2 .content .head .currency,
body .section-2 .section-2_container .section-2_row .col3 .content .head .currency {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

html .section-2 .section-2_container .section-2_row .col1 .content .head .month,
html .section-2 .section-2_container .section-2_row .col2 .content .head .month,
html .section-2 .section-2_container .section-2_row .col3 .content .head .month,
body .section-2 .section-2_container .section-2_row .col1 .content .head .month,
body .section-2 .section-2_container .section-2_row .col2 .content .head .month,
body .section-2 .section-2_container .section-2_row .col3 .content .head .month {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
  text-transform: uppercase;
}

html .section-2 .section-2_container .section-2_row .col1 .content .list,
html .section-2 .section-2_container .section-2_row .col2 .content .list,
html .section-2 .section-2_container .section-2_row .col3 .content .list,
body .section-2 .section-2_container .section-2_row .col1 .content .list,
body .section-2 .section-2_container .section-2_row .col2 .content .list,
body .section-2 .section-2_container .section-2_row .col3 .content .list {
  padding: 10px;
}

html .section-2 .section-2_container .section-2_row .col1 .content .list ul li,
html .section-2 .section-2_container .section-2_row .col2 .content .list ul li,
html .section-2 .section-2_container .section-2_row .col3 .content .list ul li,
body .section-2 .section-2_container .section-2_row .col1 .content .list ul li,
body .section-2 .section-2_container .section-2_row .col2 .content .list ul li,
body .section-2 .section-2_container .section-2_row .col3 .content .list ul li {
  font-size: 18px;
  padding: 15px 0;
  color: #424242;
  font-weight: 400;
}

html .section-3,
body .section-3 {
  height: 70vh;
  width: 100%;
}

html .section-3 .section-wrapper,
body .section-3 .section-wrapper {
  margin-left: 60px;
  position: relative;
}

@media (max-width: 768px) {
  html .section-3 .section-wrapper,
  body .section-3 .section-wrapper {
    width: 70%;
  }
}

html .section-3 .section-wrapper h1,
body .section-3 .section-wrapper h1 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  html .section-3 .section-wrapper h1,
  body .section-3 .section-wrapper h1 {
    position: absolute;
    top: 100px;
    left: 85px;
  }
}

@media (max-width: 992px) {
  html .section-3 .section-wrapper h1,
  body .section-3 .section-wrapper h1 {
    text-align: center;
    margin-top: 1em;
  }
}

html .section-3 .section-wrapper .contact-wrapper,
body .section-3 .section-wrapper .contact-wrapper {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
}

@media (max-width: 768px) {
  html .section-3 .section-wrapper .contact-wrapper,
  body .section-3 .section-wrapper .contact-wrapper {
    margin: 20px;
  }
}

html .section-3 .section-wrapper .contact-wrapper .form-left,
body .section-3 .section-wrapper .contact-wrapper .form-left {
  width: 100%;
}

@media (min-width: 768px) {
  html .section-3 .section-wrapper .contact-wrapper .form-left,
  body .section-3 .section-wrapper .contact-wrapper .form-left {
    width: 50%;
    float: left;
  }
}

@media (max-width: 768px) {
  html .section-3 .section-wrapper .contact-wrapper .form-left,
  body .section-3 .section-wrapper .contact-wrapper .form-left {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
}

html .section-3 .section-wrapper .contact-wrapper .form-left input,
html .section-3 .section-wrapper .contact-wrapper .form-left textarea,
body .section-3 .section-wrapper .contact-wrapper .form-left input,
body .section-3 .section-wrapper .contact-wrapper .form-left textarea {
  background-color: #fff;
  color: #424242;
  border: 0;
  border-bottom: 2px solid #74d030;
  border-radius: 0;
  font-size: 14px;
  padding: 6px 12px;
  width: 100%;
}

html .section-3 .section-wrapper .contact-wrapper .form-left input:focus,
html .section-3 .section-wrapper .contact-wrapper .form-left textarea:focus,
body .section-3 .section-wrapper .contact-wrapper .form-left input:focus,
body .section-3 .section-wrapper .contact-wrapper .form-left textarea:focus {
  outline: none;
}

html .section-3 .section-wrapper .contact-wrapper .form-left input,
body .section-3 .section-wrapper .contact-wrapper .form-left input {
  margin-bottom: 10px;
}

@media (max-width: 360px) {
  html .section-3 .section-wrapper .contact-wrapper .form-left,
  body .section-3 .section-wrapper .contact-wrapper .form-left {
    width: 60%;
  }
}

html .section-3 .section-wrapper .contact-wrapper .form-left form button,
body .section-3 .section-wrapper .contact-wrapper .form-left form button {
  background: #fff;
  padding: 12px 25px;
  display: inline-block;
  font-size: 13px;
  color: #424242;
  margin: 10px 0px;
  border-radius: 20px;
}

html .section-3 .section-wrapper .contact-wrapper .form-right,
body .section-3 .section-wrapper .contact-wrapper .form-right {
  width: 100%;
}

@media (min-width: 768px) {
  html .section-3 .section-wrapper .contact-wrapper .form-right,
  body .section-3 .section-wrapper .contact-wrapper .form-right {
    width: 50%;
    float: right;
  }
}

html .section-3 .section-wrapper .contact-wrapper .form-right p,
body .section-3 .section-wrapper .contact-wrapper .form-right p {
  color: #424242;
}

html .section-3 .section-wrapper .contact-wrapper h2,
body .section-3 .section-wrapper .contact-wrapper h2 {
  font-size: 28px;
}

@media (max-width: 768px) {
  html .section-3 .section-wrapper .contact-wrapper h2,
  body .section-3 .section-wrapper .contact-wrapper h2 {
    font-size: 3vh;
  }
}

html .section-3 .section-wrapper .contact-wrapper h2,
html .section-3 .section-wrapper .contact-wrapper p,
body .section-3 .section-wrapper .contact-wrapper h2,
body .section-3 .section-wrapper .contact-wrapper p {
  text-align: center;
}

html .section-4,
body .section-4 {
  background: url("../media/roads.jpeg") no-repeat center;
  background-size: cover;
  padding: 41px 0;
  background-attachment: fixed;
  margin-left: 60px;
  height: auto;
  position: relative;
  overflow: hidden;
}

html .section-4 .container,
body .section-4 .container {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 576px) {
  html .section-4 .container,
  body .section-4 .container {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  html .section-4 .container,
  body .section-4 .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  html .section-4 .container,
  body .section-4 .container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  html .section-4 .container,
  body .section-4 .container {
    max-width: 1140px;
  }
}

html .section-4 .container .row,
body .section-4 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

html .section-4 .container .row .section-4_col,
body .section-4 .container .row .section-4_col {
  position: relative;
  width: 100%;
  padding: 0 15px;
  z-index: 1;
}

@media (max-width: 768px) {
  html .section-4 .container .row .section-4_col,
  body .section-4 .container .row .section-4_col {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  html .section-4 .container .row .section-4_col,
  body .section-4 .container .row .section-4_col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

html .section-4 .container .row .section-4_col h3,
body .section-4 .container .row .section-4_col h3 {
  font-size: 18px;
  font-weight: 300;
  color: #f3f3f3;
}

html .section-4 .container .row h2,
html .section-4 .container .row h3,
body .section-4 .container .row h2,
body .section-4 .container .row h3 {
  z-index: 1;
}

html .section-4 .container .row h2,
body .section-4 .container .row h2 {
  font-weight: 300;
  width: 100%;
  color: #f3f3f3;
  font-size: 2rem;
}

@media (max-width: 768px) {
  html .section-4 .container .row h2,
  body .section-4 .container .row h2 {
    font-size: 32px;
  }
}

html .section-4 .overlay,
body .section-4 .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(0, 128, 128, 0.5);
}

html .section-5,
body .section-5 {
  background: #3c4764;
  padding-bottom: 40px;
  padding-top: 60px;
  margin-left: 60px;
  display: block;
}

html .section-5 .container,
body .section-5 .container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  html .section-5 .container,
  body .section-5 .container {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  html .section-5 .container,
  body .section-5 .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  html .section-5 .container,
  body .section-5 .container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  html .section-5 .container,
  body .section-5 .container {
    max-width: 1140px;
  }
}

html .section-5 .container .row,
body .section-5 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

html .section-5 .container .row .section-5_col,
body .section-5 .container .row .section-5_col {
  position: relative;
  width: 100%;
}

@media (min-width: 576px) {
  html .section-5 .container .row .section-5_col,
  body .section-5 .container .row .section-5_col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  html .section-5 .container .row .section-5_col,
  body .section-5 .container .row .section-5_col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
  }
}

html .section-5 .container .row .section-5_col .footer-about,
body .section-5 .container .row .section-5_col .footer-about {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  padding: 0 15px 40px 15px;
}

@media (min-width: 768px) {
  html .section-5 .container .row .section-5_col .footer-about,
  body .section-5 .container .row .section-5_col .footer-about {
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 0;
  }
}

html .section-5 .container .row .section-5_col .footer-title,
body .section-5 .container .row .section-5_col .footer-title {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  color: #f3f3f3;
}

html .section-5 .container .row .section-5_col p,
body .section-5 .container .row .section-5_col p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  max-width: 50ch;
}

html .section-5 .container .row .section-5_col .contact,
body .section-5 .container .row .section-5_col .contact {
  padding: 40px 15px 0 15px;
}

@media (min-width: 768px) {
  html .section-5 .container .row .section-5_col .contact,
  body .section-5 .container .row .section-5_col .contact {
    padding-top: 0;
  }
}

html .section-5 .container .row .section-5_col .contact .contact-info,
body .section-5 .container .row .section-5_col .contact .contact-info {
  margin: 15px 0;
}

html .section-5 .container .row .section-5_col .contact .contact-info i,
body .section-5 .container .row .section-5_col .contact .contact-info i {
  display: block;
  float: left;
  color: #3ac341;
  margin-right: 10px;
  line-height: 22px;
}

html .section-5 .container .row .section-5_col .contact .contact-info p,
body .section-5 .container .row .section-5_col .contact .contact-info p {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */